@media screen and (max-width: 1024px) {
    header{
        background-attachment: scroll;
    }
    .section3{
        background-attachment: scroll;

    }
    .layer{
        background-attachment: scroll;


    }
    .carousel-item img{
        width: 50%;

    }
}